# Python
__pycache__/
*.pyc
.pyc
*.npy
# VS Code
.vscode/
# Node / frontend
node_modules/
dist/
# IDE
.idea/
# PyCharm
.idea/
.pycharm/
backend/utils/__pycache__/image_service.cpython-312.pyc

.cursor/rules/test.mdc
backend/config/petapp-c2e46-firebase-adminsdk-fbsvc-0ec3a87ef4.json
backend/logs/auth.log

backend/logs/django.log
*.pyc
*.log


check-service
domain_configuration
nginx.conf
start-app
start-app.bat
stop-service