body {
  margin: 0;
  padding: 0;
  background-color: #ffcba4;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 手機版視窗尺寸設定 */
@media only screen and (min-width: 430px) {
  body {
    display: flex;
    justify-content: center;
    background-color: #f5f5f5; /* 桌面版背景顏色 */
  }
} 